/* web fonts */
	@import url(http://fonts.googleapis.com/css?family=Lato:900);
	
/* general styles */
	html,body {
		height: 100%;
	}
	body {
		background: transparent url(../../_THEME/common/media/grid-18px.png) top center;
		background-color: #049cd9;
	}
	
