<FilesMatch ".sql.xml$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

php_flag display_errors on
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www.localhost$
RewriteRule ^(.*)$ http://localhost/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !\.(php|zip|csv|css|txt|xml|js|gif|png|swf|ico|jpe?g)$
RewriteRule (.*)$ _LIB/footprint/controller.php [L]

php_value session.gc_probability 1
php_value session.gc_divisor 100
php_value session.gc_maxlifetime 3600
php_value session.save_path /web/sessions

