<FilesMatch "(.xsl|.sql.xml|.php|.email.html)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
<Files ".controller.php">
    Allow from all
</Files>

php_flag display_errors on

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !\.(php|zip|csv|css|txt|xml|js|gif|png|swf|ico|jpe?g)$
RewriteRule (.*)$ /.controller.php [L]
