/**
 * import resources
 */
@import url(../common/jquery/jquery-ui-1.8.16.custom.css);
@import url(../common/bootstrap/css/bootstrap.min.css);
@import url(../common/bootstrap/css/bootstrap-responsive.min.css);
@import url(../common/shortcuts.css);

/**
 * misc styles
 */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
@media (max-width: 980px) {
    body {
        padding-top: 0px;
    }
}

/**
 * footer
 */
.footer .container {
    color: #eee;
    background-color: #717171;
    margin-top: 10px;
    
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.footer .container .inner {
    padding: 20px;
}
.footer a,
.footer a:visited {
    color: #eee;
}
.footer p {
    line-height: normal;
    margin: 0px;
}
.footer p.right {
    float: right;
}
